<h1>Soon :)</h1>
<p>Don't worry, this functionality will be ready soon. By now, just enjoy this piece of art <3</p>

<div>
    <img src="./assets/img/tom.jpg" alt="Tom" height="500">
</div>

<a href="/"><< Go back</a>